body {
    /* "resetting the block model" and adding  */
    margin: 0px;
    border: 0px;
    padding: 0px;
    /*  */
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-odd {
    display: flex;
    flex-direction: row;
}

.project-even {
    display: flex;
    flex-direction: row-reverse;
}