body {
    /* "resetting the block model" and adding  */
    margin: 0px;
    border: 0px;
    padding: 0px;
    /*  */
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

a, nav, header, section, div, p, ul {
    /* giving everything a border */
    border: 1px solid grey;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text p {
    font-family: 'Faustina', serif;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-odd {
    display: flex;
    flex-direction: row;
}

.project-even {
    display: flex;
    flex-direction: row-reverse;
}

.projectTeaserText ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;   
}